@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background: #9370c0;
  color: #e4e4e4;
  line-height: 1.5;
  background-image: no-repeat;
  height: 100vh;
  width: 100vw;
}